@model IEnumerable<Tasheel.BLL.Models.AcademicYearVM>
@{
    ViewBag.Title = "Index";
   
}

<h1>الفصل الدراسي </h1>
<!-- Basic Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
         
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
							<th>الاسم</th>
                            <th>
							</th>
                             <th>
                                <a asp-controller="AcademicYear" asp-action="Create" class="btn btn-danger">إضافة</a>
                             
                            </th>
                        </tr>
                    </thead>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>الفصل الدراسي</th>
                                <th>العمليات</th>

                            </tr>
                        </thead>

                    <tbody>
                            @{

                                int Count = 0;

                            }
                            @foreach(var Item in Model)
                            {
                                Count++;
                                <tr>
                                <th scope="row">@Count</th>
								<td> @Item.Id</td>
                                    <td>   @Item.Year</td>
                                    <td>
                                        <a asp-controller="AcademicYear" asp-action="Edeit" asp-route-Id="@Item.Id" class="btn btn-outline-danger">
                                            <i class="material-icons">update</i>
                                            <span>تعديل</span>
                                        </a>
                                        <a asp-controller="AcademicYear" asp-action="Delete" asp-route-Id="@Item.Id" class="btn btn-outline-danger">
                                            <i class="material-icons">delete</i>
                                            <span>حذف</span>
                                        </a>
                                    </td>
							</tr>
                            }
                        
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #END# Basic Table -->
<!-- Striped Rows -->

